# Basic information about Scanpy anndata.
### This tutorial is bascially a consise format of scanpy offical post. 
AnnData( " Annotated Data") is a matrix liked data where n numbe of observations which is represented as d-dimensional vectors. Both rows and columns of this n  x  d matrix are special in the sense that they are indexed.

In [1]:
# Import necessay libaries
import numpy as np
import pandas as pd
import anndata as ad
from scipy.sparse import csr_matrix
print(ad.__version__)

0.10.9

### Initializing AnnData
 Representing some gene expression counts using basic Anndata obbject.

In [2]:
counts = csr_matrix(np.random.poisson(1, size=(100, 2000)), dtype=np.float32)
adata = ad.AnnData(counts)
adata

AnnData object with n_obs × n_vars = 100 × 2000

In [3]:
adata.X

<100x2000 sparse matrix of type '<class 'numpy.float32'>'
	with 126459 stored elements in Compressed Sparse Row format>

Now we provide  the index to both the obs and var axes using. .obs_names (resp. .var_names).

In [4]:
adata.obs_names = [f"cell_{i:d}" for i in range(adata.n_obs)]
adata.var_names = [f"gene_{i:d}" for i in range(adata.n_vars)]
print(adata.obs_names[:10])
print(adata.var_names[:10])

Index(['cell_0', 'cell_1', 'cell_2', 'cell_3', 'cell_4', 'cell_5', 'cell_6',
       'cell_7', 'cell_8', 'cell_9'],
      dtype='object')
Index(['gene_0', 'gene_1', 'gene_2', 'gene_3', 'gene_4', 'gene_5', 'gene_6',
       'gene_7', 'gene_8', 'gene_9'],
      dtype='object')

In [5]:
adata.var_names[:5]

Index(['gene_0', 'gene_1', 'gene_2', 'gene_3', 'gene_4'], dtype='object')

In [6]:
adata.obs_names[:5]

Index(['cell_0', 'cell_1', 'cell_2', 'cell_3', 'cell_4'], dtype='object')

### Subsetting AnnData
AnnData subsetting is quite similar to pnasdas data frame. one can values in the `obs/var_names`, boolean maksrs or cell index integers.

### Adding aligned meta data
#### Observation/Variable level

ct = np.random.choice(["B", "T", "Monocyte"], size=(adata.n_obs,))
adata.obs["cell_type"] = pd.Categorical(ct) # Categoricals are preferred for efficiency.
adata.obs

In [15]:
adata

AnnData object with n_obs × n_vars = 100 × 2000
    obs: 'cell_type'

### Subsetting using metadata

In [17]:
bdata = adata[adata.obs.cell_type == "B"]
bdata

View of AnnData object with n_obs × n_vars = 28 × 2000
    obs: 'cell_type'

### Observation/vaiable-Level matrices
AnnData has the `.obsm/.varm` attributes. here keys are used to identify different matrices whas has insert.
S and Scanpy

In [25]:
adata.obsm["X_umap"] = np.random.normal(0, 1, size=(adata.n_obs, 2))
adata.varm["gene_stuff"] = np.random.normal(0, 1, size=(adata.n_vars, 5))
adata.obsm

AxisArrays with keys: X_umap

In [27]:
adata

AnnData object with n_obs × n_vars = 100 × 2000
    obs: 'cell_type'
    obsm: 'X_umap'
    varm: 'gene_stuff'

### Unstructured metadata
AnnData has `.uns`, which allows for any unstructured metadata. This can be anything, like a list or a dictionary with some general information that was useful in the analysis of our data.

In [29]:
adata.uns["random"] = [1,2,3]
adata.uns

OrderedDict([('random', [1, 2, 3])])

### Layers
Finally, we may have different forms of our original core data, perhaps one that is normalized and one that is not. These can be stored in different layers in AnnData. For example, let’s log transform the original data and store it in a layer:

In [31]:
adata.layers["log_transformerd"] = np.log1p(adata.X)
adata

AnnData object with n_obs × n_vars = 100 × 2000
    obs: 'cell_type'
    uns: 'random'
    obsm: 'X_umap'
    varm: 'gene_stuff'
    layers: 'log_transformerd'

### Conversion to DataFrames
We can also ask AnnData to return us a DataFrame from one of the layers:

In [35]:
adata.to_df(layer="log_transformerd")

,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,...,gene_1990,gene_1991,gene_1992,gene_1993,gene_1994,gene_1995,gene_1996,gene_1997,gene_1998,gene_1999
cell_0,0.693147,0.693147,0.000000,0.000000,1.609438,1.098612,1.098612,0.693147,0.000000,0.693147,...,0.000000,0.693147,1.609438,0.693147,0.000000,0.000000,0.000000,1.098612,0.693147,0.693147
cell_1,0.693147,0.000000,0.000000,0.000000,0.000000,0.693147,0.000000,1.098612,0.693147,0.693147,...,1.098612,0.693147,0.693147,0.000000,0.693147,0.000000,1.609438,0.693147,1.098612,0.693147
cell_2,0.000000,1.098612,0.000000,0.000000,0.693147,0.000000,0.693147,1.098612,1.098612,0.693147,...,0.693147,1.098612,0.693147,0.693147,0.000000,1.098612,0.693147,1.386294,0.693147,0.000000
cell_3,0.000000,0.693147,0.000000,0.000000,0.000000,0.693147,1.098612,1.386294,1.386294,1.098612,...,1.098612,0.693147,0.693147,0.000000,0.693147,1.098612,0.693147,1.386294,0.000000,0.000000
cell_4,1.098612,0.000000,0.693147,0.693147,0.693147,1.386294,0.000000,1.098612,0.000000,0.000000,...,0.000000,0.000000,1.098612,1.386294,0.000000,0.000000,0.000000,0.693147,0.693147,1.098612
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
cell_95,0.000000,0.693147,0.693147,0.693147,0.693147,0.000000,0.000000,0.693147,1.386294,1.098612,...,0.000000,0.000000,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147
cell_96,0.000000,1.386294,0.000000,0.000000,1.098612,0.693147,0.693147,0.000000,0.693147,1.098612,...,1.386294,0.000000,0.000000,0.000000,0.693147,1.386294,0.000000,0.000000,0.000000,0.000000
cell_97,0.693147,0.000000,1.386294,0.000000,0.693147,1.098612,0.000000,0.693147,0.000000,0.000000,...,0.693147,0.000000,0.693147,0.693147,0.000000,0.693147,0.000000,0.000000,0.000000,0.000000
cell_98,0.000000,0.000000,0.000000,0.000000,0.693147,0.000000,0.693147,0.693147,0.693147,0.000000,...,0.693147,0.693147,0.000000,0.693147,0.693147,0.693147,0.693147,0.000000,0.693147,0.000000
cell_99,0.000000,0.693147,0.000000,1.386294,0.693147,0.000000,0.000000,0.693147,0.000000,0.693147,...,0.693147,0.000000,0.693147,1.791759,0.693147,0.000000,1.098612,0.000000,0.000000,1.609438

# Writing the results to disk
AnnData comes with its own persistent HDF5-based file format: h5ad. If string columns with small number of categories aren’t yet categoricals, AnnData will auto-transform to categoricals.

In [36]:
adata.write('first_results.h5ad', compression="gzip")

In [37]:
!h5ls 'first_results.h5ad'

/bin/bash: line 1: h5ls: command not found

# Partial reading of large data

In [38]:
adata = ad.read('first_results.h5ad', backed = "r")

/home/user/miniconda3/envs/scanpy-env/lib/python3.9/site-packages/anndata/__init__.py:55: FutureWarning: `anndata.read` is deprecated, use `anndata.read_h5ad` instead. `ad.read` will be removed in mid 2024.
  warnings.warn(

In [39]:
adata.isbacked

True

In [40]:
adata.filename

PosixPath('first_results.h5ad')

In [41]:
adata.file.close()

In [ ]:
outvdwo12
linkresearche